body {
  background-color: #131312;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

/* Logo */
#logoNav {
  width: 50px;
  margin-right: auto;
  float: left;
}

h1 {
  font-size: 96px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: #f3f3ed;
  text-align: center;
}

h3,
h4 {
  font-weight: 500;
  color: #c6a42c;
}

h3 {
  font-size: 28px;
  text-align: center;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #f3f3ed;
  padding: 10px 0px;
  text-align: left;
}

/* Navigatie */
nav {
  overflow: hidden;
}

ul {
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #c6a42c;
  flex-wrap: nowrap;
}

li {
  margin: 5px 15px;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

li a:hover:not(.active) {
  background-color: #222a27;
  color: #aa9767;
}

/* homepagina tekst en afbeelding */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.text {
  flex: 1;
  max-width: 40%;
  padding-right: 20px;
  padding-left: 20%;
}

.image {
  flex: 1;
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.image img {
  max-width: 100%;
  height: auto;
}

#homePic {
  width: 100%;
  max-width: 350px;
  opacity: 0.8;
  margin: 0 auto;
  padding: 10px;
  flex-shrink: 0;
}

#presentation {
  flex-grow: 1;
  padding: 10px 100px;
  min-height: 100vh;
}

#homePic img {
  max-width: 100%;
  height: auto;
}
/*hobby pagina*/
.flex-container {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

.flex-item {
  flex: 1;
  padding: 10px;
}

.flex-item img {
  width: 100%;
  max-width: 700px;
  height: auto;
}
#duikfoto {
  padding-left: 15%;
}
/* Curriculum tabel */
table {
  color: white;
  border: solid 1px #c6a42c;
  border-collapse: collapse;
  margin: 5em;
}

th {
  text-align: center;
  border: solid 1px #c6a42c;
  padding: 10px;
}

td {
  text-align: left;
  border: solid 1px #c6a42c;
  padding: 10px;
}

.onderwerp {
  width: 40%;
}

.date {
  width: 10%;
}

/* Contact formulier */
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222a27;
  border-radius: 8px;
}

form div {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

form label {
  width: 150px;
  margin-right: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #c6a42c;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #c6a42c;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #222a27;
}
#logos {
  max-width: 20px;
}
